.navWide {
  display: none;
}

.navNarrow i {
  float: right;
}
.navNarrow .narrowLinks {
  display: none;
}
.navNarrow .narrowLinks a {
  display: block;
  float: left;
  clear: left;
}

@media (min-width: 480px) {
  nav .navWide {
    display: block;
  }
  nav .navNarrow {
    display: none;
  }
}